.contproduct{
    margin-top: 125px;
}

.filter{
    background-color: aliceblue;
    border-radius: 5px;
}

.form-select{
    max-width: 298px;
}

label{
    float: left;
    align-self: center;
    margin: 5px;
}

.btn-green{
    max-width: 200px;
    background-color: greenyellow;
    color: aliceblue;
    border-radius: 15px;
}

.feat{
    background-color: #262a32;
}