.imageosf {
    max-width: 271px;
    max-height: 276px;
    border-radius: 5px;
}

.contproduct {
    margin-top: 125px;
    margin-bottom: 62px;
}

.filter {
    background-color: aliceblue;
    border-radius: 5px;
}

.car-mobile {
    max-height: 320px !important;
}

.form-select {
    max-width: 298px;
}

label {
    float: left;
    align-self: center;
    margin: 5px;
}

.btn-green {
    max-width: 200px;
    background-color: greenyellow;
    color: aliceblue;
    border-radius: 60px;
}

.btn-outline-green {
    max-width: 200px;
    background-color: transparent;
    color: greenyellow;
    border-color: greenyellow;
    border-radius: 15px;
}

.badge-green {
    max-width: 200px;
    background-color: white;
    color: greenyellow;
}

.badge {
    box-shadow: 0 0 0 .2rem greenyellow;
}

.feat {
    background-color: #262a32;
}

.centered {
    /* min-width: 401px; */
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lefted {
    position: absolute;
    /* min-width: 401px; */
    bottom: 0px;
    max-width: 200px;
    left: 0px;
    /* left: 25%;
    transform: translate(-25%, -15%); */
}

#full {
    width: 320px;
}

.service {
    background-color: #45413e;
    color: white;
}

.carousel .carousel-indicators button {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.carousel-indicators .active {
    border-radius: 100%;
    margin-right: 5px !important;
    margin-left: 5px !important;
    border: 0 !important;
    background-color: transparent !important;
    box-shadow: 0 0 0 .2rem rgb(255, 255, 255);
}

.carousel-indicators.blackindicators [data-bs-target] {
    background-color: #45413e;
}

.carousel-indicators.blackindicators .active {
    border-radius: 100%;
    margin-right: 5px !important;
    margin-left: 5px !important;
    border: 0 !important;
    background-color: transparent !important;
    box-shadow: 0 0 0 .2rem rgb(122, 121, 121);
}

.qty {
    text-align: center;
    max-width: 105px;
}

.qty .count {
    color: #000;
    display: inline-block;
    vertical-align: top;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    padding: 0 2px;
    min-width: 35px;
    text-align: center;
}

.qty .plus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial, sans-serif;
    text-align: center;
    border-radius: 50%;
}

.text-green {
    color: limegreen;
}

#zoomed {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 0, 1, 0.6558998599439776) 100%, rgba(0, 212, 255, 1) 100%);
    display: none;
}

#expandedtext {
    display: none;
}

#readmore {
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.qty .minus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial, sans-serif;
    text-align: center;
    border-radius: 50%;
    background-clip: padding-box;
}

.white {
    background-color: #ffffff;
}

.blue {
    background-color: #00ffff;
}

.darkblue {
    background-color: #00008b;
}

.red {
    background-color: #ff0000;
}

.orange {
    background-color: #ff4500;
}

.green {
    background-color: #008000;
}

.gray {
    background-color: #808080;
}

.black {
    background-color: #000000;
}

#cookie-container {
    position: fixed;
    bottom: 10%;
    left: 1%;
    z-index: 99;
    background: #ffffff;
    color: #000000;
    padding: 0 32px;
    box-shadow: 0 -2px 16px rgba(255, 255, 255, 0.39);
    transition: 400ms;
    max-width: 98%;
    border-radius: 10px;
}

.fa-xmark {
    right: 15px;
    top: 10px;
}

#cookie-container.active {
    bottom: 0;
}

#cookie-container a {
    color: limegreen;
}

#cookie-btn {
    text-align: end;
    margin-left: auto;
    background: limegreen;
    border: 0;
    color: #f5f6fa;
    padding: 4px 48px;
    font-size: 18px;
    margin-bottom: 16px;
    border-radius: 20px;
    cursor: pointer;
    align-self: end;
}

.fa-xmark:before {
    justify-content: end;
}

.minus:hover {
    background-color: #717fe0 !important;
}

.plus:hover {
    background-color: #717fe0 !important;
}

/*Prevent text selection*/
span.minus {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

input.count {
    border: 0;
    width: 2%;
}

input.count::-webkit-outer-spin-button,
input.count::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:disabled {
    background-color: white;
}

.ms-n5 {
    margin-left: -40px;
}

a {
    color: #84bc22;
    text-decoration: none;
}

.decorated {
    overflow: hidden;
    text-align: center;
}

.nav-link.tablink {
    color: gray;
}

.otherdecorated {
    overflow: hidden;
    color: white;
    text-align: center;
}

#middle {
    position: relative;
}

#middle:before {
    content: "";
    display: block;
    width: 250px;
    height: 2px;
    background: #ffffff;
    left: 85px;
    top: 50%;
    position: absolute;
}

#middle:after {
    content: "";
    display: block;
    width: 250px;
    height: 2px;
    background: #ffffff;
    right: 85px;
    top: 50%;
    position: absolute;
}

.desktopBox {
    display: none;
}

.arrows {
    max-width: 720px;
}

.nav-tabs .nav-item button.active,
.tab-pane {
    background-color: #262A33;
    border: solid 1px #262A33;
    color: white;
}

#next,
#prev {
    background-color: #2D343A;
}

.decorated>span {
    position: relative;
    display: inline-block;
}

.otherdecorated>span {
    position: relative;
    display: inline-block;
}

.graydecorated>span {
    position: relative;
    display: inline-block;
}

.ops {
    font-size: 4.5rem;
    font-weight: bold;
    color: limegreen;
}

.decorated>span:before,
.decorated>span:after {
    content: '';
    position: absolute;
    top: 50%;
    border-bottom: 2px solid #ffffff;
    ;
    width: 591px;
    /* half of limiter*/
    margin: 0 20px;
}

.otherdecorated>span:before,
.otherdecorated>span:after {
    content: '';
    position: absolute;
    top: 50%;
    border-bottom: 2px solid #808080;
    ;
    width: 591px;
    /* half of limiter*/
    margin: 0 20px;
}

.card-img-top {
    width: 100%;
    max-height: 196px;
    height: 100%;
    object-fit: cover;
}

.graydecorated>span:before,
.graydecorated>span:after {
    content: '';
    position: absolute;
    top: 50%;
    border-bottom: 2px solid rgb(179, 179, 179);
    ;
    width: 591px;
    /* half of limiter*/
    margin: 0 20px;
}

.card-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background: rgba(0, 183, 74, 0.78);
}

.card-overlay-static {
    /* position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    transition: .5s ease; */
    background: linear-gradient(45deg,
            rgba(245, 70, 66, 0.75), rgba(8, 83, 156, 0.75));
}

.card-img {
    height: 100%;
}

.card:hover .card-overlay {
    opacity: 1;
}

.decorated>span:before {
    right: 100%;
}

.otherdecorated>span:before {
    right: 100%;
}

.graydecorated>span:before {
    right: 100%;
}

.decorated>span:after {
    left: 100%;
}

.otherdecorated>span:after {
    left: 100%;
}

.graydecorated>span:after {
    left: 100%;
}

.graydecorated {
    overflow: hidden;
    text-align: center;
}

.carousel,
.carousel-inner,
.carousel-item,
.carousel-item>img {
    min-height: 450px;
}

.btn-outline-light {
    border-radius: 50px;
}

.mb-3 .form-control {
    width: 95%;
    border-radius: 60px;
}

.modal-content {
    width: 400px;
}

.p-viewer {
    float: right;
    margin-top: -31px;
    margin-right: 20px;
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.mb-3 i {
    cursor: pointer;
}

.navbar-nav {
    max-height: 100%;
    max-width: 100%;
}

.navbar-toggler {
    border: 0;
}

.hidden {
    display: none;
}

.navbar .megamenu {
    border-radius: 0px;
    border: 0px;
    background-color: #262a32;
    color: white !important;
}

#mainimg {
    width: 100%;
    max-width: 456px;
    max-height: 414px;
    object-fit: cover;
    cursor: pointer;
}

.top-left {
    position: absolute;
    top: 6px;
    left: 24px;
}

.thumbnail {
    max-width: 73px;
    max-height: 71px;
    object-fit: cover;
    cursor: pointer;
    opacity: 0.5;
}

.thumbnail.active {
    opacity: 1;
}

@media all and (max-width: 1200px) {
    .scroll-header {
        max-height: 400px;
        overflow-y: scroll;
    }
}

@media all and (max-width: 992px) and (min-width:768px) {
    .navbar-scroll {
        justify-content: space-around !important;
    }

    .navbar-nav {
        max-width: 541px;
    }
}

@media all and (min-width: 768px) {
    .azulejo:hover {
        background-color: #262a32;
    }

    .azulejo .nav-link:hover {
        color: white;
        border-bottom: 15px limegreen;
    }

    .lefty {
        position: absolute;
        top: 50%;
        left: 35%;
        transform: translate(-50%, -50%);
    }

    .centy {
        position: absolute;
        top: 50%;
        left: 35%;
        transform: translate(-27%, -50%);
    }

    .righty {
        position: absolute;
        top: 50%;
        right: 35%;
        transform: translate(50%, -50%);
    }

    .none {
        display: block;
    }

    .notyet {
        display: none;
    }

    .navbar .has-megamenu {
        position: static !important;
    }

    .badge {
        background-color: white;
    }

    .navbar .megamenu {
        left: 0;
        right: 0;
        width: 100%;
        margin-top: 0;
    }

    .navbar .megamenu {
        padding: 1rem;
    }

}

@media(max-width: 767px) {

    .lefty {
        position: absolute;
        top: 50%;
        left: 25%;
        min-width: 220px;
        transform: translate(-25%, -50%);
    }

    .lefty .btn,
    .centy .btn,
    .righty .btn {
        text-align: center;
    }

    .centy {
        position: absolute;
        top: 50%;
        left: 0%;
        min-width: 220px;
        transform: translate(0%, -50%);
    }

    .righty {
        position: absolute;
        top: 50%;
        right: 25%;
        min-width: 220px;
        transform: translate(25%, -50%);
    }

    .mobdrop::after {
        display: inline-block;
        vertical-align: 0.255em;
        content: "";
        border-top: 0.3em solid;
        border-right: 0.3em solid transparent;
        border-bottom: 0;
        border-left: 0.3em solid transparent;
    }

    .scroll {
        max-height: 400px;
        overflow-y: scroll;
    }

    .none {
        display: none;
    }

    .ops {
        margin-bottom: 35px;
    }

    .badge {
        background-color: #262a33;
        top: 5px;
    }

    .right-side {
        display: none;
    }

    .navbar.fixed-top .navbar-collapse,
    .navbar.sticky-top .navbar-collapse {
        overflow-y: auto;
        max-height: 90vh;
        margin-top: 10px;
    }

    .nav-link {
        color: white;
    }

    .mobileBox {
        display: none;
    }

    .navbar-nav.fixed-md-bottom {
        min-width: 100%;
        left: 0px !important;
        min-height: 50px;
        justify-content: space-around;
        flex-direction: row;
        position: fixed;
        bottom: 0;
    }

    .navbar-nav {
        background-color: #262a33;
    }
}

@media screen and (max-width:767px) {
    .navbar-brand {
        width: 62px;
    }

    .featlp {
        display: none;
    }


    .nav-link:focus,
    .nav-link:hover {
        color: white
    }
}

@media screen and (max-width:991px) and (min-width:768px) {
    .nav-link {
        max-width: 50px;
        display: block;
    }

    .navbar-brand img {
        max-width: 100%;
    }
}